
<form method="get" action="/users/<%=current_user.id%>">
	<input type="submit" value="Back">
</form>
<br>
<h2><%= @user.name%>, your favourites!</h2>

<% @favourites.each do |f| %>
<% byebug %>
		<%= f.product.product_name%><br>
	
	<form method="post", action="/favourites/<%=f.id%>">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Delete">
	</form>
	<% end %>