<h2> Add your product here </h2>

<h5>When done, click 'send'</h5><br>

<!-- <p><%= @error if @error %></p> -->

		<form method="post" action="/products">
			<input type="text" placeholder="product here..." name="product[product_name]"><br>
		  <!-- <textarea class="form-control" rows="5" id="comment"></textarea> -->
		  <input type="text" placeholder="price" name="product[price]"><br>
			<input type="submit" value="Submit">
		</form>

		<form method="get" action="/users/<%=current_user.id%>/products"> 
			<input type="submit" value="Back">
		</form><br>

